/* Estilos generales */
body {
  background-color: aquamarine;
  margin: 0;
  padding: 0;
}

.logo,
.imagen,
.convocatoria,
.formulario {
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.imagen {
  margin-top: 10px;
}
/* Estilos para el formulario */
.formulario {
  text-align: center;
}

.formulario form {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.campo {
  margin-bottom: 20px;
}

/* Estilos para el botón */
button {
  padding: 10px 20px;
}

/* Estilos para el footer */
footer {
  text-align: center;
  margin-top: 20px;
}

fieldset {
  margin-left: 90px;
  margin-right: 90px;
  display: flexbox;
}

textarea {
  width: 100%; /* Ocupa el ancho completo del contenedor */
  height: auto; /* Ajusta automáticamente la altura según el contenido */
  cols: 40; /* Número de columnas */
  rows: 100; /* Número de filas */
}
